<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fin10.android.textdeliverer">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_text_deliverer"
        android:theme="@style/AppTheme"
        android:name=".TextDelivererApplication">

        <activity
            android:name=".DialDeliverer"
            android:label="@string/dial_deliverer"
            android:icon="@mipmap/ic_dial_deliverer"
            android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true"
            >

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MapDeliverer"
            android:label="@string/map_deliverer"
            android:icon="@mipmap/ic_map_deliverer"
            android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true"
            >

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BrowserDeliverer"
            android:label="@string/browser_deliverer"
            android:icon="@mipmap/ic_browser_deliverer"
            android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true"
            >

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="text/plain" />
            </intent-filter>
        </activity>

    </application>

</manifest>
